@import 'normalize.css';

:root{
 --primary: #fe2c55;
}

html{
  font-size: 62.5%;  
}

body{
    font-family:'Roboto',sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin:  auto;
    text-rendering: optimizeSpeed;
    max-width: 1200px;
}
.container{
  margin-top: 60px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-self: center;
  .content{
        margin-right: 16px;
    margin-left: 16px;
    width: 692px;
    max-width: 692px;
    padding: 24px 0;
    position: relative;
    
  }
}
.mt-20{
  margin-top: 20px;
}
.pt-10{
  padding-top: 10px;
}
